USE [MMABooksUpdated]
GO
/****** Object:  StoredProcedure [dbo].[usp_ProductCreate]    Script Date: 11/21/2018 1:01:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[usp_ProductCreate] 
	-- Add the parameters for the stored procedure here
	@ProductID int output, /* output parameter is generated by DB*/
	@ProductCode char(10), 
	@Description nvarchar(50), 	
	@UnitPrice money,
	@OnHandQuantity int
AS
BEGIN
    -- Insert statements for procedure here
	Insert into Products(ProductCode, Description, UnitPrice, OnHandQuantity, ConcurrencyID)
	values (@ProductCode, @Description, @UnitPrice, @OnHandQuantity, 1);
	set @ProductID = @@IDENTITY;/*assigment statement @@Identity is global thing that corresponds to auto#*/
END
GO

CREATE PROCEDURE [dbo].[usp_ProductDelete] 
	-- Add the parameters for the stored procedure here
	@ProductID int, @ConcurrencyID int
AS
BEGIN
    -- Insert statements for procedure here
	Delete from Products where ProductID = @ProductID and ConcurrencyID = @ConcurrencyID;
END

CREATE PROCEDURE [dbo].[usp_ProductUpdate] 
	-- Add the parameters for the stored procedure here
	@ProductID int,
	@ProductCode char(10),
	@Description varchar(50), 
	@UnitPrice money, 
	@OnHandQuantity int, 
	@ConcurrencyID int
AS
BEGIN
    -- Insert statements for procedure here
	Update Products set
		@ProductID = @ProductID,
		@ProductCode = @ProductCode, 
		Description = @Description,
		UnitPrice = @UnitPrice,
		ConcurrencyID = (@ConcurrencyID + 1)
	Where ProductID = @ProductID and ConcurrencyID = @ConcurrencyID; /*stops updates if ID and Concurrency ID dont match. also updates CCID*/

END


ALTER PROCEDURE [dbo].[usp_ProductDelete] 
	-- Add the parameters for the stored procedure here
	@ProductID int, @ConcurrencyID int
AS
BEGIN
    -- Insert statements for procedure here
	Delete from Products where ProductID = @ProductID and ConcurrencyID = @ConcurrencyID;
END

CREATE PROCEDURE [dbo].[usp_ProductSelect] /*** usp =user defined procedure. this procedure selects one even based on primary key***/
@ProductID int
AS
BEGIN
    select * from Products 
	where ProductID = @ProductID;
END
go


CREATE PROCEDURE [dbo].[usp_ProductSelectAll] 
	-- Add the parameters for the stored procedure here
AS
BEGIN
    -- Insert statements for procedure here
	SELECT * from Products order by ProductID;
END

go
CREATE PROCEDURE [dbo].[usp_ProductCreate] 
	-- Add the parameters for the stored procedure here
	@ProductID int output, /* output parameter is generated by DB*/
	@ProductCode char(10), 
	@Description nvarchar(50), 	
	@UnitPrice money,
	@OnHandQuantity int
AS
BEGIN
    -- Insert statements for procedure here
	Insert into Products(ProductID, ProductCode, Description, UnitPrice, OnHandQuantity, ConcurrencyID)
	values (@ProductID, @ProductCode, @Description, @UnitPrice, @OnHandQuantity, 1);
	set @ProductID = @@IDENTITY;/*assigment statement @@Identity is global thing that corresponds to auto#*/
END