IF DB_ID('MMABooksUpdated') IS NOT NULL
	DROP DATABASE MMABooksUpdated

CREATE DATABASE MMABooksUpdated
GO

USE [MMABooksUpdated]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 4/2/2013 3:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Address] [varchar](50) NOT NULL,
	[City] [varchar](20) NOT NULL,
	[State] [char](2) NOT NULL,
	[ZipCode] [char](15) NOT NULL,
	[ConcurrencyID] [int] NOT NULL Default (1), 
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Products]    Script Date: 4/2/2013 3:14:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductCode] [char](10) NOT NULL,
	[Description] [varchar](50) NOT NULL,
	[UnitPrice] [money] NOT NULL,
	[OnHandQuantity] [int] NOT NULL,
	[ConcurrencyID] [int] NOT NULL Default (1), 
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[States]    Script Date: 4/2/2013 3:14:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[States](
	[StateCode] [char](2) NOT NULL,
	[StateName] [varchar](20) NOT NULL,
 CONSTRAINT [PK_States] PRIMARY KEY CLUSTERED 
(
	[StateCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO


SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerID], [Name], [Address], [City], [State], [ZipCode]) VALUES (1, N'Molunguri, A', N'1108 Johanna Bay Drive', N'Birmingham', N'AL', N'35216-6909     ')
INSERT [dbo].[Customers] ([CustomerID], [Name], [Address], [City], [State], [ZipCode]) VALUES (2, N'Muhinyi, Mauda', N'1420 North Charles Street', N'New York', N'NY', N'10044          ')
INSERT [dbo].[Customers] ([CustomerID], [Name], [Address], [City], [State], [ZipCode]) VALUES (3, N'Antony, Abdul', N'1109 Powderhorn Drive', N'Fayetteville', N'NC', N'28314          ')
GO
SET IDENTITY_INSERT [dbo].[Customers] OFF

INSERT [dbo].[Products] ([ProductCode], [Description], [UnitPrice], [OnHandQuantity]) VALUES (N'A4CS      ', N'Murach''s ASP.NET 4 Web Programming with C# 2010', 56.5000, 4637)
INSERT [dbo].[Products] ([ProductCode], [Description], [UnitPrice], [OnHandQuantity]) VALUES (N'A4VB      ', N'Murach''s ASP.NET 4 Web Programming with VB 2010', 56.5000, 3974)
INSERT [dbo].[Products] ([ProductCode], [Description], [UnitPrice], [OnHandQuantity]) VALUES (N'ADC4      ', N'Murach''s ADO.NET 4 with C# 2010', 56.5000, 3756)
INSERT [dbo].[States] ([StateCode], [StateName]) VALUES (N'AK', N'Alaska')
INSERT [dbo].[States] ([StateCode], [StateName]) VALUES (N'AL', N'Alabama')
INSERT [dbo].[States] ([StateCode], [StateName]) VALUES (N'AR', N'Arkansas')
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_OnHandQuantity]  DEFAULT ((0)) FOR [OnHandQuantity]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_States] FOREIGN KEY([State])
REFERENCES [dbo].[States] ([StateCode])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_States]
GO

