USE [MMABooksUpdated]
GO
/****** Object:  StoredProcedure [dbo].[usp_CustomerCreate]    Script Date: 11/22/2018 10:42:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[usp_CustomerCreate] 
	-- Add the parameters for the stored procedure here
	@CustomerID int output, /* output parameter is generated by DB*/
	@Name varchar(100), 
	@Address varchar(50), 	
	@City varchar(20),
	@State char(2),
	@Zipcode char(15)
	

AS
BEGIN
    -- Insert statements for procedure here
	Insert into Customers(CustomerID, Name, Address, City, State, ZipCode, ConcurrencyID)
	values (@CustomerID, @Name, @Address, @City,@State,@Zipcode, 1);
	set @CustomerID = @@IDENTITY;
END